<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    
    <compilation debug="true" />
    <membership>
      <providers>
        <add name="membershipProvider" type="ToDo.WCFService.Security.MembershipProvider,WCFService"/>
      </providers>
    </membership>
    
    <roleManager enabled="true" defaultProvider="roleProvider">
      <providers>
        <add name="roleProvider" type="ToDo.WCFService.Security.RoleProvider,WCFService" />
      </providers>
    </roleManager>
  </system.web>
 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SLL">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="ToDo.WCFService.ToDoService">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:1232/ToDoWCF/Service/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="ToDo.WCFService.Contracts.IToDoService" bindingConfiguration="SLL">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider" membershipProviderName="membershipProvider" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="roleProvider"/>
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>